@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.ibm-plex-sans-condensed-thin {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-condensed-extralight {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-condensed-light {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-condensed-regular {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-condensed-medium {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-condensed-semibold {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-condensed-bold {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-sans-condensed-thin-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-sans-condensed-extralight-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-sans-condensed-light-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-sans-condensed-regular-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-condensed-medium-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-condensed-semibold-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-condensed-bold-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

